/* *{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
} */

.movie-row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 16px;

    overflow-x: auto;
    overflow-y: hidden;

    padding: 12px;
}

.movie-row a {
    text-decoration: none;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.movie-row a:focus,
.movie-row a:active,
.movie-row a:focus-visible {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.card {
    border: none !important;
}


.card {
    flex: 0 0 200px;
    /* width: 100%; */
    width: 200px;
    height: 286px;
    border-radius: 8px;

    position: relative;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 12px;

    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

li {
    list-style: none;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.5) 40%,
            rgba(0, 0, 0, 0) 80%);
    z-index: 1;
}


.rating {
    position: absolute;
    top: 10px;
    right: 10px;

    background: rgba(71, 69, 62, 0.801);
    color: aliceblue;
    padding: 3px 8px;

    font-size: 13px;
    border-radius: 5px;
    align-items: center;

    font-weight: bold;
    z-index: 2;
}

/* .specs{
    position: absolute;
    bottom: 50px;
    left: 12px;

    color: white;
    z-index: 1;
} */

.specs {
    color: aliceblue;
    opacity: 0.85;
    padding-bottom: 30px;
    z-index: 2;
}

.specs p:nth-child(1) {

    /* position: absolute;
    bottom: 50px;
    left: 12px; */
    position: relative;
    color: aliceblue;
    margin: 4px 0 0;
    font-size: 13px;
    opacity: 0.85;
    z-index: 2;
}

.description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.duration {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);

    background: rgba(0, 0, 0, 0.65);
    padding: 6px 12px;
    border-radius: 10px;

    color: white;
    font-size: 14px;
    z-index: 1;
}