.netflix-home {
    min-height: 100vh;
    background: #000;
    color: rgb(232,151,138);
    padding-bottom: 50px;
}

.hero {
    height: 60vh;
    border-radius: 16px;
    margin: 14px;
    position: relative;
    overflow: hidden;

    /* hero poster */
    background-image: url("https://wallpapers.com/images/featured/netflix-background-gs7hjuwvv2g0e9fj.jpg");
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.2));
}

.hero-content {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 2;
    max-width: 500px;
    text-align: left;
}

.hero-title {
    font-size: 45px;
    margin: 0;
}

.hero-subtitle {
    opacity: 0.85;
    margin-top: 10px;
}

.hero-buttons {
    margin-top: 18px;
    display: flex;
    gap: 12px;
}

.btn-play {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn-info {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(232,151,138);
}

.home-links {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 14px;
}

.home-card {
    flex: 1 1 240px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 18px;
    border-radius: 16px;
    font-size: 18px;
    color: rgb(232,151,138);
    transition: 0.25s;
    text-align: center;
}

.home-card:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.15);
}